html{
	overflow: hidden;
	overflow-y: auto;
}
body{
	overflow: hidden;
	overflow-x: hidden;
	background-color: $mirage;
}
main{
	min-height: 80vh;
}
section{
	width: 100%;
	float: left;
}
.container{
	max-width: 1135px;
}
.green{
	color: $caribbean-green;
}
.white{
	color: $white;
}
.frostee{
	color: $frostee;
}
.mmr-{
	&section__title{
		h5{
			margin-bottom: 27.5px;
		}
		h1,h2{
			color: $white;
			text-transform: uppercase;
			margin-bottom: 28px;
		}
		p{
			margin-bottom: 20px;
		}
	}
}
@-moz-keyframes spin { 
    100% { 
    	-moz-transform: rotate(360deg);
    } 
}
@-webkit-keyframes spin { 
    100% { 
		-webkit-transform: rotate(360deg); 
    } 
}
@keyframes spin { 
    100% { 
        -webkit-transform: rotate(360deg); 
        		transform: rotate(360deg); 
    } 
}
@include media-breakpoint-down(lg) {
	.container{
		padding-left: 35px;
		padding-right: 35px;
		&.lg-nopadding{
			padding-left: 0;
			padding-right: 0;
		}
		&.lg-small-padding{
			padding-left: 15px;
			padding-right: 15px;
		}
	}
	.row{
		// margin-left: 35px;
		// margin-right: 35px;
		// >*{
		// 	padding-left: 35px;
		// 	padding-right: 35px;
		// }
	}

}