body{
	font-family: $primary-font;
}
h1,h2,h3,h4,h5,h6{
	font-family: $secondary-font;
}
h1{
	font-size: 45px;
	line-height: 60px;
	letter-spacing: 0.5px;
}
h2{
	font-size: 45px;
	line-height: 60px;
	letter-spacing: 0.5px;
}
h3{
	font-size: 34px;
	line-height: 41px;
}
h4{
	font-size: 28px;
	line-height: 36px;
}
h5{
	font-size: 21px;
	line-height: 27px;
}
h6{
	font-size: 15px;
	line-height: 20px;
}
p{
	font-size: 14px;
	line-height: 20px;
}
img{
	max-width: 100%;
	height: auto;
}
.mb-{
	&16{
		margin-bottom: 16px!important;
	}
	&20{
		margin-bottom: 20px!important;
	}
	// &30{
	// 	margin-bottom: 30px!important;
	// }
	&42{
		margin-bottom: 42px!important;
	}
	// &52{
	// 	margin-bottom: 52px!important;
	// }
	&54{
		margin-bottom: 54px!important;
	}
	&60{
		margin-bottom: 60px!important;
	}
}
@include media-breakpoint-down(lg) {
	h1{
		font-size: 30px;
		line-height: 38px;
	}
	h2{
		font-size: 30px;
		line-height: 38px;
	}
	h3{
		font-size: 25px;
		line-height: 34px;
	}
	h5{
		font-size: 18px;
		line-height: 24px;
	}
}