$primary-font: 'Khula', sans-serif;
$secondary-font: 'PT Sans Caption', sans-serif;

$white: #fff;
$gray: #828282;
$mirage: #181C27;
$caribbean-green: #00CE7E;
$pickled-bluewood: #253A45;
$gable-green: #162731;
$frostee: #D3F0DA;