.mmr-{
	&about__us__{
		&section{
			padding: 234px 0 180px;
			background-size: cover;
			background-position: center;
			background-attachment: fixed;
			position: relative;
			.circles{
				width: 671px;
				height: 671px;
				display: block;
				position: absolute;
				background-position: center;
				background-size: cover;
				background-image: url('../images/circles-large.png');
				right: -320px;
				top: -250px;
				z-index: 1;
				-webkit-animation:spin 15s linear infinite;
			       -moz-animation:spin 15s linear infinite;
			            animation:spin 15s linear infinite;
			}
		}
		&wrapper{
			width: 100%;
			float: left;
			.reactangle{
				width: calc(100% - 37px);
				height: 37px;
				background-color: #000;
				position: relative;
				&.top{
					&::before{
						content: '';
						display: block;
						position: absolute;
						top: 0;
						left: -37px;
						width: 0;
						height: 0;
						border-style: solid;
						border-width: 0 0 37px 37px;
						border-color: transparent transparent #000 transparent;
					}
				}
				&.bottom{
					&::before{
						content: '';
						display: block;
						position: absolute;
						top: 0;
						right: -37px;
						width: 0;
						height: 0;
						border-style: solid;
						border-width: 37px 37px 0 0;
						border-color: #000 transparent transparent transparent;
					}
				}
			}
		}
		&block{
			width: 100%;
			float: left;
			padding: 41px 46.5px 61px;
			background-color: #000;
			position: relative;
		}
	}
}
@include media-breakpoint-down(lg) {
	.mmr-about__us__{
		&section{
			padding: 270px 0 0;
			background-attachment: inherit;
			.circles{
				width: 350px;
				height: 350px;
				top: -175px;
				right: -175px;
			}
		}
		&block{
			padding: 22px 35px 34px;
			.mmr-section__title{
				h5{
					margin-bottom: 25px;
				}
			}
		}
	}
}