.mmr-{
	&footer{
		width: 100%;
		float: left;
		background-color: $mirage;
		padding: 113px 0 122px;
		overflow: hidden;
		position: relative;
		&__icon{
			width: 1321px;
			height: 1320px;
			background-position: center;
			background-size: cover;
			background-image: url('../images/circle-footer.png');
			position: absolute;
			left: -140px;
			top: -250px;
			pointer-events: none;
			z-index: 1;
			-webkit-animation:spin 15s linear infinite;
		       -moz-animation:spin 15s linear infinite;
		            animation:spin 15s linear infinite;
		}
		&::after{
			content: '';
			width: 59%;
			height: 100%;
			background-color: $gable-green;
			position: absolute;
			top: 0;
			right: 0;
			z-index: 2;
		}
		&__contacts{
			width: 100%;
			float: left;
			h6.title{
				margin-bottom: 28px;
			}
			&__block{
				width: 100%;
				float: left;
				margin-bottom: 20px;
				h6{
					color: rgba(255,255,255,0.5);
					margin-bottom: 3.5px;
				}
				p,
				a{
					font-size: 14px;
					line-height: 20px;
					display: block;
					color: #fff;
					text-decoration: none;
					margin-bottom: 0;
					-webkit-transition: all 0.3s ease;
							transition: all 0.3s ease;
				}
				a:hover{
					color: $caribbean-green;
				}
			}
		}
		&__logo{
			display: inline-block;
			margin: 9px 0 14px;
		}
		&__copyrights{
			width: 100%;
			float: left;
			p{
				font-size: 14px;
				line-height: 20px;
				color: rgba(255,255,255,0.5);
			}
		}
		&__form{
			width: 100%;
			float: left;
			position: relative;
			z-index: 3;
			form{
				width: 100%;
				float: left;
			}
		}
	}
}
@include media-breakpoint-down(lg) {
	.mmr-footer{
		padding: 56px 0 60px;
		&__form{
			margin-bottom: 110px;
			form{
				position: relative;
				z-index: 2;
			}
			&::after{
				content: '';
				position: absolute;
				top: -56px;
				left: -35px;
				right: -35px;
				bottom: -68px;
				background-color: $gable-green;
				z-index: 1;
			}
		}
		&::after{
			display: none;
		}
	}
}