.field__group{
	width: 100%;
	float: left;
	margin-bottom: 39px;
	position: relative;
}
.submit__group{
	width: 100%;
	float: left;
	margin: 5px 0 0;
	position: relative;
	.wpcf7-spinner{
		position: absolute;
		top: 14px;
		right: 14px;
		margin: 0;
	}
}
.form__field{
	width: 100%;
	float: left;
	font-size: 14px;
	line-height: 20px;
	color: rgba(255,255,255,0.5);
	background-color: transparent;
	border: none;
	border-bottom: 1px solid rgba(255,255,255,0.5);
	padding: 3px 0;

	&:focus{
		box-shadow: none;
		outline: none;
	}
}
textarea.form__field{
	height: 118px;
	resize: none;
}
.submit__field{
	width: 100%;
	float: left;
	background-color: $caribbean-green;
	color: #fff;
	font-weight: 700;
	font-size: 21px;
	line-height: 27px;
	padding: 15px 15px 12px;
	border: none;
}
.wpcf7-form-control-wrap{
	width: 100%;
	float: left;
	position: relative;
	&.recaptcha{
		margin: 20px 0 0;
	}
}
.wpcf7-not-valid-tip{
	width: 100%;
	float: left;
	position: absolute;
	font-size: 12px;
	line-height: 14px;
	bottom: -20px;
}
.wpcf7-response-output{
	width: 100%;
	float: left;
	margin: 20px 0 0!important;
	padding: 15px 25px!important;
	border-width: 1px!important;
	text-align: center;
	color: $frostee;
}
@include media-breakpoint-down(lg) {
	.wpcf7-response-output{
		font-size: 14px;
		line-height: 20px;
		padding: 15px 20px!important;
	}
}