body{
	&.admin-bar{
		.mmr-header{
			top: 32px;
			&.scroll__down{
				top: -100%;
			}
			&.show{
				top: 0;
			}
		}
	}
}
.mmr-{
	&header{
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 100;
		padding: 15.5px 0 16.5px;
		-webkit-transition: all 0.5s ease;
				transition: all 0.5s ease;
		&::before{
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 0;
			background-color: $mirage;
			z-index: -1;
			opacity: 0;
			visibility: hidden;
			-webkit-transition: all 0.5s ease;
					transition: all 0.5s ease;
		}
		&.dark{
			&::before{
				opacity: 1;
				visibility: visible;
			}
		}
		&.scroll__down{
			top: -100%;
		}
		&.show{
			top: 0;
		}
	}
	&logo{
		display: inline-block;
		img{
			height: 100%;
		}
	}
	&main__nav{
		ul{
			padding: 0;
			margin: 0;
			list-style: none;
			li{
				float: left;
				a{
					font-family: $secondary-font;
					font-size: 15px;
					line-height: 20px;
					font-weight: 700;
					color: $white;
					text-decoration: none;
					display: block;
					padding: 9px 10.5px;
					&.active{
						color: $caribbean-green;
					}
				}
				&:last-child{
					a{
						padding-right: 0;
					}
				}
			}
		}
	}
	&mobile{
		&__btn{
			width: 30px;
			height: 23px;
			position: relative;
			margin: 3px 0 0;
			&.show{
				span{
					&:nth-child(1){
						top: 11px;
						left: 0;
						-webkit-transform: rotate(45deg);
								transform: rotate(45deg);
					}
					&:nth-child(2){
						top: 11px;
						left: 0;
						-webkit-transform: rotate(-45deg);
								transform: rotate(-45deg);
					}
				}
			}
			span{
				width: 30px;
				height: 1px;
				background-color: $white;
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				-webkit-transition: all 0.2s ease;
						transition: all 0.2s ease;
				&:nth-child(1){
					top: 7px;
				}
				&:nth-child(2){
					top: 17px;
				}
			}
		}
		&__menu{
			position: fixed;
			width: 100%;
			top: -50%;
			left: 0;
			bottom: 0;
			background-color: $mirage;
			z-index: 99;
			opacity: 0;
			visibility: hidden;
			-webkit-transition: all 0.5s ease;
					transition: all 0.5s ease;
			&.show{
				top: 59px;
				opacity: 1;
				visibility: visible;
			}
		}
		&__nav{
			width: 100%;
			float: left;
			position: absolute;
			top: calc(50% - 30px);
			left: 0;
			-webkit-transform: translateY(-50%);
					transform: translateY(-50%);
			ul{
				width: 100%;
				float: left;
				padding: 0;
				margin: 0;
				list-style: none;
				li{
					width: 100%;
					float: left;
					text-align: center;
					a{
						display: inline-block;
						color: #fff;
						text-decoration: none;
						font-weight: 700;
						font-size: 23px;
						line-height: 34px;
						padding: 10px 3px;
						position: relative;
						margin: 5px 0;
						&.active{
							color: $caribbean-green;
							&::after{
								opacity: 1;
							}
						}
						&::after{
							content: '';
							width: 100%;
							height: 2px;
							display: block;
							position: absolute;
							bottom: 5px;
							left: 0;
							opacity: 0;
							background-color: $caribbean-green;
							-webkit-transition: all 0.2s ease;
									transition: all 0.2s ease;
						}
					}
				}
			}
		}
	}
}
@include media-breakpoint-down(lg) {
	body.admin-bar .mmr-header{
		top: 0;
	}
	.mmr-{
		&header{
			padding: 16.5px 0 10.5px;
		}
		&logo{
			height: 32px;
		}
	}
}