.mmr-{
	&hero__section{
		background-position: center;
		background-size: cover;
		.content{
			width: 100%;
			position: absolute;
			left: 0;
			top: 55%;
			-webkit-transform: translateY(-50%);
					transform: translateY(-50%);
			p{
				margin-bottom: 38px;
			}
			.text{
				max-width: 430px;
			}
			&__wrapper{
				width: 100%;
				height: 100vh;
				min-height: 771px;
				position: relative;
				h5{
					margin-bottom: 30px;
				}
			}
		}
	}
}
@include media-breakpoint-down(lg) {
	.mmr-hero__section .content{
		top: 53%;
		&__wrapper{
			min-height: 505.5px;
			h5{
				margin-bottom: 15px;
			}
		}
	}
}