.mmr-{
	&highlights__{
		&section{
			padding: 118.5px 0 103px;
			background-color: $pickled-bluewood;
		}
		&slider{
			width: 100%;
			float: left;
			padding: 0 20px 57px;
			margin: 39px 0 0;
			position: relative;
			.swiper-slide{
				width: 100%;
				float: left;
				min-height: 311px;
			}
			.swiper-pagination{
				width: 100%;
				bottom: 0;
				&-bullet{
					width: 40px;
					height: 4px;
					border-radius: 0;
					opacity: 1;
					margin: 0 10px!important;
					background-color: rgba(253, 255, 254, 0.5);
					&-active{
						background-color: $caribbean-green;
					}
				}
			}
		}
		&reactangle{
			width: calc(100% - 37px);
			height: 37px;
			position: relative;
			&.top{
				float: right;
				border-top: 1px solid $caribbean-green;
				border-right: 1px solid $caribbean-green;
				&::after{
					top: 17px;
					left: -44px;
				}
			}
			&.bottom{
				float: left;
				border-bottom: 1px solid $caribbean-green;
				border-left: 1px solid $caribbean-green;
				&::after{
					bottom: 17px;
					right: -44px;
				}
			}
			&::after{
				content: '';
				width: 52px;
				height: 1px;
				display: block;
				background-color: $caribbean-green;
				position: absolute;
				-webkit-transform: rotate(-45deg);
						transform: rotate(-45deg);
			}
		}
		&block{
			width: 100%;
			float: left;
			border-left: 1px solid $caribbean-green;
			border-right: 1px solid $caribbean-green;
			padding: 9px 14px;
			.icon{
				width: 100%;
				height: 129px;
				margin-bottom: 30px;
				img{
					width: auto;
					height: 100%;
				}
			}
			p{
				color: $white;
				margin-bottom: 20px;
			}
		}
	}
}
@include media-breakpoint-down(lg) {
	.mmr-highlights__{
		&section{
			padding: 54px 0 55px;
			.mmr-section__title{
				h2{
					margin-bottom: 24px;
				}
			}
		}
		&slider{
			margin: 0;
			padding: 0 10px 66px;
		}
	}
}