.mmr-{
	&services__{
		&section{
			padding: 80px 0 186px;
			background-color: $mirage;
			position: relative;
			.circles{
				width: 1179px;
				height: 1179px;
				display: block;
				position: absolute;
				background-position: center;
				background-size: cover;
				background-image: url('../images/circles-large.png');
				left: 45%;
				margin-left: -590px;
				bottom: -70px;
				z-index: 0;
				-webkit-animation:spin 30s linear infinite;
			       -moz-animation:spin 30s linear infinite;
			            animation:spin 30s linear infinite;
			}
			.image{
				width: 100%;
				float: left;
			}
			.text{
				width: 100%;
				float: left;
				padding: 0 70px;
			}
			.mmr-section__title{
				h5{
					margin-bottom: 52px;
				}
			}
		}
		&navigation{
			width: 100%;
			float: left;
			display: flex;
			border-bottom: 1px solid $gray;
			margin: -24px 0 0;
		}
		&item{
			width: 100%;
			text-align: center;
			cursor: pointer;
			position: relative;
			&:hover,
			&.active{
				h6{
					color: $caribbean-green;
				}
				&::after{
					opacity: 1;
				}
			}
			h6{
				margin-bottom: 0;
				padding: 18px 0;
				color: $gray;
				position: relative;
				-webkit-transition: all 0.3s ease;
						transition: all 0.3s ease;
			}
			&::after{
				content: '';
				width: 100%;
				height: 4.5px;
				display: block;
				position: absolute;
				background-color: $caribbean-green;
				bottom: -1px;
				left: 0;
				opacity: 0;
				-webkit-transition: all 0.3s ease;
						transition: all 0.3s ease;
			}
		}
		&slider{
			width: 100%;
			float: left;
			overflow: hidden;
			.swiper-slide{
				width: 100%;
				float: left;
				position: relative;
				padding: 0 0 0 255px;
				.text{
					width: 255px;
					float: left;
					position: absolute;
					left: 0;
					top: 0;
					padding: 103px 0 0;
					h3{
						margin-bottom: 24px;
					}
				}
				.icon{
					width: 100%;
					float: left;
					padding: 56px 0 0 125px;
					img{
						max-width: 350px;
					}
				}
			}
			&__wrapper{
				width: 100%;
				float: left;
				position: relative;
				margin: 117px 0 0;
				.reactangle{
					width: calc(100% - 37px);
					height: 37px;
					background-color: $white;
					position: relative;
					&.top{
						&::before{
							content: '';
							display: block;
							position: absolute;
							top: 0;
							left: -37px;
							width: 0;
							height: 0;
							border-style: solid;
							border-width: 0 0 37px 37px;
							border-color: transparent transparent $white transparent;
						}
					}
					&.bottom{
						&::before{
							content: '';
							display: block;
							position: absolute;
							top: 0;
							right: -37px;
							width: 0;
							height: 0;
							border-style: solid;
							border-width: 37px 37px 0 0;
							border-color: $white transparent transparent transparent;
						}
					}
				}
			}
			&__block{
				width: 100%;
				float: left;
				background-color: #fff;
				padding: 0 95px 29px;
			}
		}
	}
}
@include media-breakpoint-down(lg) {
	.mmr-services__{
		&section{
			padding: 56px 0 74px;
			.mmr-section__title{
				padding: 0 15px;
				h5{
					margin-bottom: 28px;
				}
			}
			.image{
				margin-bottom: 45px;
			}
			.text{
				padding: 0 23px;
				.mmr-section__title{
					padding: 0;
					h2{
						margin-bottom: 22px;
					}
				}
			}
			.circles{
				width: 608px;
				height: 608px;
				top: 190.5px;
				left: auto;
				right: -251px;
				bottom: auto;
				margin-left: 0;
			}
		}
		&navigation{
			margin: 10px 0 0;
		}
		&slider{
			overflow: visible;
			&__{
				&wrapper{
					margin: 67px 0 0;
				}
				&block{
					padding: 0 24px;
					overflow: hidden;
				}
			}
			.swiper-slide{
				padding: 0;
				.icon{
					padding: 57px 0 41.5px;
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					float: left;
					&.text-center{
						text-align: left!important;
					}
					img{
						max-height: 156px;
					}
				}
				.text{
					width: 100%;
					position: static;
					padding: 254.5px 5px 8px 0;
					h3{
						margin-bottom: 31px;
					}
				}
			}
		}
		&item{
			h6{
				display: none;
			}
			&::after{
				height: 3.5px;
			}
		}
	}
}